body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('./images/Freebie-GradientTextures-05.jpg');
}

header {
    background-color: #F80052;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    
    bottom: 0;
    width: 100%;
}
